[init]
    defaultBranch = master

[user]
	name = Ari Abramowitz
	email = ari.abramowitz1@gmail.com

[github]
    user = AriAbr

[core]
	autocrlf = input
	excludesfile = ~/.gitignore
    editor = code --wait

[status]
    submoduleSummary = true

[push]
    followTags = true


[fetch]
    recurseSubmodules = on-demand

[commit]
    verbose = true
    template = ~/.git-commit-template

[alias]
    unstage = "reset HEAD --"
    pam="!rollcheck $(git branch | sed -e 's/\\*//' | fzf)"


[diff]
    submodule = log
    tool = vscode

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	keepBackup = false
    tool = vscode

[mergetool "vscode"]
    cmd = code --wait $MERGED

[submodule]
	recurse = true
